body{
background-image: url(../img/fond.jpg);
background-repeat: no-repeat;
background-position: center;


}


header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:url(../img/fond.png);
    border: solid;
    border-color:purple;
    border-radius: 15px;
    width: 400px;
    height: 160px;
    

}


h1{
    font-size:1cm;
    text-align: center;
    color:purple;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}



#contener{
  background-image : url(../img/fond.jpg); 
  background-size: 5% 5%;
    
}

#bout{
  font-size:1cm;
    text-align: center;
    color:black;
    font-family: cursive;
    margin-bottom: 25px;
   

}
#boutplusJ{

  font-size:0.5cm;
    text-align: center;
    color:black;
    background-color: yellow;
    width: 40px;
    height: 45px;
    border-color: yellow;
}
#boutplusR{

  font-size:0.5cm;
    text-align: center;
    color:black;
    background-color: pink;
    width: 40px;
    height: 45px;
    border-color: pink;
}
#boutplusB{

  font-size:0.5cm;
    text-align: center;
    color:black;
    background-color: paleturquoise ;
    width: 40px;
    height: 45px;
    border-color: paleturquoise;
   
}


